.tiles-wrap {
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    display: none;
}


/**
 * Grid items
 */
.tiles-wrap li {
    display: block;
    opacity: 0;
    text-align: center;
    list-style-type: none;
    float: left;
    width: 160px;
}
.tiles-wrap.wookmark-initialised.animated li {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.tiles-wrap.wookmark-initialised li {
    opacity: 1;
}

.tiles-wrap li.wookmark-inactive {
    visibility: hidden;
    opacity: 0;
}

.tiles-wrap img {
    display: block;
}

.tile-loading:after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ddd;
    content: "Loading\2026";
    padding-top: 20px;
    color: #999;
}